#game-page {
    position: absolute;
    top: 0;
    left: 0;
}

.left-side {
    width: 350px;
    height: 500px;
}

.game-view-wrapper {
    width: 100%;
    height: 500px;
    border: 1px black solid;
    margin-right: 30px;
}

.circle-red {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: crimson;
}


.circle-green {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: chartreuse;
}

.user-bar-wrap {
    margin: 0;
}

.progress-bar-wrapper {
    border: 1px solid black;
    margin: 0;
    height: 20px;
    position: relative;
    top: -20px
}

.progress-bar {
    background-color: chartreuse;
    height: 100%;
    margin: 0;
}

.user-progress {
    margin: 0;
    position: relative;
    left: 30px;
    top: -27px;
}

#ready-button {
    width: 250px;
    height: 100px;
    font-size: 45px;
}

.game-view-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 30px;
    color: #737373;
}

.game-char {
    margin: 0;
}

.game-text {
    padding: 0 20%;
}


