* {
    margin: 10px;
}

#rooms-list {
    display: flex;
    flex-wrap: wrap;
}

#rooms-page {
    position: absolute;
}

input {
    height: 50px;
    width: 200px;
    background-color: #e1e1e1;
    color: black;
    border: black 1px solid;
}


input:hover {
    background-color: #afafaf;
}

.join-room-button {
    width: 100px;
    height: 30px;
}

.room {
    width: 250px;
    height: 200px;
    border: black 1px solid;
    padding: 15px;
    margin-left: 0;

}
